<div class="sdpi-item" type="checkbox">
    <div class="sdpi-item-label empty"></div>
    <input class="sdpi-item-value" id="dial" type="checkbox" value="true">
    <label for="dial"><span></span>Continuous Dial</label>
    <details>
        <summary>More Info</summary>
        <p>
            By default, only pressing the dial while rotating will send inputs to Unity.<br/><br/>
            Enabling this option will consider any rotation as an input that will be sent immediately without the need to press the dial.
        </p>
    </details>
</div>