<div class="sdpi-item" type="checkbox">
    <div class="sdpi-item-label empty"></div>
    <input class="sdpi-item-value" id="dial" type="checkbox" checked>
    <label for="dial"><span></span>Continuous Dial</label>
    <details>
        <summary>More Info</summary>
        <p>
            By default, any rotation is considered an input that will be sent immediately without the need to press the dial.<br/><br/>
            Disabling this option will only consider pressing the dial as an input, which allows changing values without sending events.<br/><br/>
            (rotating while pressing the dial will be considered an input regardless).
        </p>
    </details>
</div>