<div class="sdpi-item" type="checkbox">
    <div class="sdpi-item-label empty"></div>
    <input class="sdpi-item-value" id="group" type="checkbox" value="true" onchange="updateToggle('group', 'group-id')">
    <label for="group"><span></span>Group</label>
    <details>
        <summary>What's a Group?</summary>
        <p>
            A group is defined using the StreamDeckGroup attribute in a class.<br/>
            All the methods inside can then be called by name without the need of any other attributes.
        </p>
    </details>
</div>
<div class="sdpi-item" type="field">
    <div class="sdpi-item-label">Group ID</div>
    <input class="sdpi-item-value" id="group-id" value="" placeholder="e.g.: Create" required>
</div>